:root {
    --background-color: #030636;
    --principal-color: #0f0946;
    --secundary-color: #3725d8;
    --text-color: #ccc;
    --bottom-color: #64c25b;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: var(--secundary-color);
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 7px;
}
li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background-color: var(--secundary-color);
  color: #ccc;
  padding: 10px 15px;
  border-radius: 8px;
  width: 300px;
  margin-bottom: 15px;
  cursor:pointer; 
}

li span {
  flex: 0.8;
}

li input[type="checkbox"] {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: var(--bottom-color);
}

li button {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: var(--bottom-color);
}