:root {
    --background-color: #bcdcee;
    --principal-color: #559aaf;
    --secundary-color: #66b6ce;
    --text-color: #ccc;
    --bottom-color: #4bd33e;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 25rem;
  padding: 1rem;
  background-color: var(--background-color);
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--principal-color);
  border-radius: 9px;
  padding: 10px;

}

ul {
    padding: 1px;
}
li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background-color: var(--secundary-color);
  color: #ccc;
  padding: 10px 15px;
  border-radius: 8px;
  width: 300px;
  margin-bottom: 15px;
  cursor:pointer; 
}

li span {
  flex: 0.8;
}

li input[type="checkbox"] {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: var(--bottom-color);
}

li button {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: var(--bottom-color);
}
button {
  background-color: var(--bottom-color);
  border: none;
  padding: 8px;
  border-radius: 9px;
  width: 50px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
    transition: 0.1s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #467e8f;
}

#add-task {
  display: flex;
  align-items: center;
  justify-content:center;
}
.name-list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 200px;
  color: #ccc;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--secundary-color);
  padding: 5px;
  border-radius: 6px;
  margin-top: 5px;
  z-index: 10;
}

.sub-menu.is-active {
  display: block;
}

.sub-menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30PX; 
  border-color: #272829;
}

.submenu-item {
  background-color: var(--bottom-color);
}

.task-item {
  position: relative;
}

dialog {
  background-color: var(--background-color);
  text-align: center;
  border: none;
  border-radius: 8px;
  color: #ccc;
}
dialog textarea {
  resize: none;
  background-color: var(--secundary-color);
  color: var(--text-color);
}
#foot-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.button-dialog {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}